<div class="contact">
    <div class="container">
        <div class="section-header">
            <p>Contact Us</p>
            <h2>Find Your Answer / Send Message</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="faqs">
                    <div class="row">
                        <div class="box">   <div class="icon">
                                 <img src="img/phone-icon.png" alt="" />
                                 <a  href="tel:+919897499476"
                                 >+919897499476</a
                               ></div>
                              
                            </div></div> <div class="row">
                        <div class="box">  
                             <div class="icon">
                                 <img src="img/email-icon.png" alt="" />
                                 <a  href="mailto:info@servicelinkup.in"
                                 >info@servicelinkup.in</a
                               ></div>
                              
                        </div></div>
                        <div class="row">
                        <div class="box">   <div class="icon">
                                 <img src="img/location-icon.png" alt="" />
                                D-1 C/1103 Sangam Vihar,
           New Delhi 110062, India
                                </div>
                              
                        </div></div>
                    </div>
                </div>
           
            <div class="col-md-6">
                <div class="contact-form">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="Your Email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject" required="required" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Message" required="required" ></textarea>
                        </div>
                        <div><button class="btn" type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
