<div class="service">
    <div class="container">
      <div class="section-header">
        <p>Our Services</p>
        <h2>Provide Services Worldwide</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="service-item">
            <img src="img/service-1.jpg" alt="Service" />
            <h3>Water Tank Cleaning</h3>
            <p>
              Cleanliness is not always easy, but if you have young children
              and pets, it should be at the top of your priority list.
            </p>
            <a class="btn" href="">Learn More</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="service-item">
            <img src="img/service-2.jpg" alt="Service" />
            <h3>Bathroom Cleaning</h3>
            <p>
              Professional bathroom and toilet cleaning services are always
              better than ordinary cleaning because it removes dirt
            </p>
            <a class="btn" href="">Learn More</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="service-item">
            <img src="img/service-3.jpg" alt="Service" />
            <h3>Sewer Cleaning</h3>
            <p>
              With our cleaning service, you can properly care for and
              maintain the appearance and longevity of your carpets.
            </p>
            <a class="btn" href="">Learn More</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="service-item">
            <img src="img/service-4.jpg" alt="Service" />
            <h3>Toilet Cleaning</h3>
            <p>
              Tiles is a strategy involving floor and tile scrubbing with
              all the professional tools and equipments
            </p>
            <a class="btn" href="">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  <!-- Feature Start -->
  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="section-header left">
            <p>Why Choose Us</p>
            <h2>Expert Cleaners and World Class Services</h2>
          </div>
          <p>
            Our team is fully trained and takes full care of your
            cleanliness. We are different from other companies because we
            provide the best service for the least amount of money.
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
        <div class="col-md-7">
          <div class="row align-items-center feature-item">
            <div class="col-5">
              <img src="img/feature-1.jpg" alt="Feature" />
            </div>
            <div class="col-7">
              <h3>Expert Cleaners</h3>
              <p>
                Our team members are fully trained. Only after that people
                are sent to work here.
              </p>
            </div>
          </div>
          <div class="row align-items-center feature-item">
            <div class="col-5">
              <img src="img/feature-2.jpg" alt="Feature" />
            </div>
            <div class="col-7">
              <h3>Reasonable Prices</h3>
              <p>
                Keeping in mind your time, our team aims to provide the best
                service in the least possible time.
              </p>
            </div>
          </div>
          <div class="row align-items-center feature-item">
            <div class="col-5">
              <img src="img/feature-3.jpg" alt="Feature" />
            </div>
            <div class="col-7">
              <h3>Quick & Best Services</h3>
              <p>
                Our team members are fully trained. Only after that people
                are sent to work here.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature End -->
  <!-- Pricing Plan for water tank cleaning -->
  <div class="price">
    <div class="container">
      <div class="section-header">
        <p>Pricing Plan for <strong>Water Tank Cleaning</strong></p>
        <h2>No Extra Hidden Charges</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="price-item">
            <div class="price-header">
              <div class="price-icon">
              </div>
              <div class="price-title">
                <h2>₹599</h2>
              </div>
              <div class="price-pricing">
                <h2>₹3,99</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                  <li>500 Litre</li>
                  <li>With cleaning gel</li>
                  <li>Pressure washer</li>
                  <li>Vacuum Cleaning</li>
                  <li>Within 1 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-item featured-item">
            <div class="price-header">
              <div class="price-icon">
              
              </div>
              <div class="price-title">
                <h2>₹799</h2>
              </div>
              <div class="price-pricing">
                <h2>₹499</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                    <li>1000 Litre</li>
                    <li>With cleaning gel</li>
                    <li>Pressure washer</li>
                    <li>Vacuum Cleaning</li>
                    <li>Within 1 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-item">
            <div class="price-header">
              <div class="price-icon">
             
              </div>
              <div class="price-title">
                <h2>₹999</h2>
              </div>
              <div class="price-pricing">
                <h2>₹599</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                    <li>1500 Litre</li>
                    <li>With cleaning gel</li>
                    <li>Pressure washer</li>
                    <li>Vacuum Cleaning</li>
                    <li>Within 1 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing Plan for house cleaning -->
  <div class="price">
    <div class="container">
      <div class="section-header">
        <p>Pricing Plan for <strong>House Cleaning</strong></p>
        <h2>No Extra Hidden Charges</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="price-item">
            <div class="price-header">
              <div class="price-icon">

              </div>
              <div class="price-title">
                <h2>₹2999</h2>
              </div>
              <div class="price-pricing">
                <h2>₹1,999</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                  <li>1 Bedrooms cleaning</li>
                  <li>1 Bathrooms cleaning</li>
                  <li>1 Living room Cleaning</li>
                  <li>Vacuum Cleaning</li>
                  <li>Within 6 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-item featured-item">
            <div class="price-header">
              <div class="price-icon">
              
              </div>
              <div class="price-title">
                <h2>₹3999</h2>
              </div>
              <div class="price-pricing">
                <h2>₹2,999</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                  <li>2 Bedrooms cleaning</li>
                  <li>2 Bathrooms cleaning</li>
                  <li>1 Living room Cleaning</li>
                  <li>Vacuum Cleaning</li>
                  <li>Within 6 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-item">
            <div class="price-header">
              <div class="price-icon">
            
              </div>
              <div class="price-title">
                <h2>₹5999</h2>
              </div>
              <div class="price-pricing">
                <h2>₹3,999</h2>
              </div>
            </div>
            <div class="price-body">
              <div class="price-des">
                <ul>
                  <li>3 Bedrooms cleaning</li>
                  <li>3 Bathrooms cleaning</li>
                  <li>1 Living room Cleaning</li>
                  <li>Vacuum Cleaning</li>
                  <li>Within 12 Hours</li>
                </ul>
              </div>
            </div>
            <div class="price-footer">
              <div class="price-action">
                <a href="contact.html"
                  ><i class="fa fa-shopping-cart"></i>Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
