<div class="wrapper">
    <!-- Header Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="header-top row align-items-center">
                <div class="col-lg-3">
                    <div class="brand">
                        <a href="index.html">
                            Servicelinkup
                            <!-- <img src="img/logo.png" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="topbar">
                        <div class="topbar-col">
                            <a href="tel:+919897499476"
                            ><i class="fa fa-phone-alt"></i>+919897499476</a
                          >
                        </div>
                        <div class="topbar-col"><a href="mailto:info@servicelinkup.in"
                            ><i class="fa fa-envelope"></i>info@servicelinkup.in</a
                          >
                        </div>
                        <div class="topbar-col">
                            <div class="topbar-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar navbar-expand-lg bg-light navbar-light">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav ml-auto">
                                <a href="index.html" class="nav-item nav-link "
                                  >Home</a
                                >
                                <a href="about.html" class="nav-item nav-link active">About</a>
                                <a href="service.html" class="nav-item nav-link">Service</a>
            
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                                <!-- <div class="nav-item dropdown">
                                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                                        <div class="dropdown-menu">
                                                            <a href="#" class="dropdown-item">Sub Item 1</a>
                                                            <a href="#" class="dropdown-item">Sub Item 2</a>
                                                        </div>
                                                    </div> -->
                                <a href="#" class="btn">Get A Quote</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    
    
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="img/about.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="about-text">
                        <h2><span>10</span> Years Experience</h2>
                        <p>
                            We started our career in house cleaning services as a cleaner
          at the local houses, appartments and buildings.  Looking for the best and affordable cleaning service? Look no further! Our professional cleaning team is dedicated to providing 
          top-notch service at a price that won't break the bank. Say goodbye to dirt and grime, and hello to a sparkling clean home or office.
           Book your cleaning today and experience the difference!

                        <p>
                            We have a huge team which is present all over NCR.
                       </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header">
                <p>Team Member</p>
                <h2>Meet Our Expert Cleaners</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/default.png" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Suresh Chand</h2>
                            <h3>Manager</h3>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/default.png" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Sachin Kumar</h2>
                            <h3>Team member</h3>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/default.png" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Kamal singh</h2>
                            <h3>Team member</h3>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/default.png" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Adarsh verma</h2>
                            <h3>Team member</h3>
                            <div class="team-social">
                                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


</div>
