<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="footer-contact">
            <h2>Get In Touch</h2>
            <p class="mb-0">
              <i class="fa fa-map-marker-alt"></i>D-1 C/1103 Sangam Vihar,
             <span class="ml-4 "> New Delhi 110062, India</span>
            </p>
            <p>
              <i class="fa fa-phone-alt"></i>
              <a class="text-white" href="tel:+919897499476"
                >+919897499476</a
              >
            </p>
            <p>
              <a class="text-white" href="mailto:info@servicelinkup.in"
                ><i class="fa fa-envelope"></i>info@servicelinkup.in</a
              >
            </p>
            <div class="footer-social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-link">
            <h2>Useful Link</h2>
            <a href="about.html">About Us</a>
            <a href="">Our Story</a>
            <a href="service.html">Our Services</a>
            <a href="">Our Projects</a>
            <a href="contact.html">Contact Us</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-link">
            <h2>Useful Link</h2>
            <a href="">Our Clients</a>
            <a href="">Clients Review</a>
            <a href="">Ongoing Project</a>
            <a href="">Customer Support</a>
            <a href="">FAQs</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-form">
            <h2>Awareness Partner</h2>
            <span>
             
                <a class="pso-link" href="http://www.problemsolverorganisation.com">Problemsolver organisation </a> is a leading technology resource for nonprofit professionals.
   
      
            </span>
            <input class="form-control" placeholder="Email here" />
            <button class="btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-menu">
      <div class="f-menu">
        <a href="">Terms of use</a>
        <a href="">Privacy policy</a>
        <a href="">Cookies</a>
        <a href="">Help & FQAs</a>
        <a href="">Contact us</a>
      </div>
    </div>
    <div class="container copyright">
      <div class="row">
        <div class="col-md-6">
          <p>
            &copy; 2023 servicelinkup, All Right
            Reserved.
          </p>
        </div>
        <div class="col-md-6">
          <p>Designed By <a  target="_blank" href="https://surajexpo.com">SurajExpo</a></p>
        </div>
      </div>
    </div>
  </div>
