<nav class="navbar navbar-expand-lg fixed">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="#"
      ><img src="../../../assets/images/logo/logo.jpg" class="logo" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">House Cleaning</a></li>
            <li><a class="dropdown-item" href="#">Barber</a></li>
            <li><a class="dropdown-item" href="#">Rent</a></li>
            <li><a class="dropdown-item" href="#">Painting</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link signin" aria-current="page" routerLink="signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link signin" aria-current="page" href="#">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="row col-7 ms-auto">
      <div class="col-sm-4">
        <div class="topbar-col">
          <a href="tel:+919897499476"
            ><i class="fa fa-phone-alt"></i>+919897499476</a
          >
        </div>
      </div>
      <div class="col-sm-5">
        <div class="topbar-col">
          <a href="mailto:info@servicelinkup.in"
            ><i class="fa fa-envelope"></i>info@servicelinkup.in</a
          >
        </div>
      </div>

      <div class="col-sm-3">
        <div class="topbar-col">
          <div class="topbar-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
