<app-navbar></app-navbar>
<div class="container my-3">
  <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/feature-1.jpg" class="d-block  carousel-img" alt="...">
       
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/feature-2.jpg" class="d-block carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/feature-3.jpeg" class="d-block carousel-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3 mb-3">
      <div class="service-box">
        <img src="../../../assets/images/cleaner.png"   alt="">
       <h3>House Services</h3>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="service-box">
        <img src="../../../assets/images/paint.png"  alt="">
       <h3>Painting</h3>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="service-box">
        <img src="../../../assets/images/rent.png"  alt="">
       <h3>Room Rent</h3>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <div class="service-box">
        <img src="../../../assets/images/barber.png"  alt="">
       <h3>Barber</h3>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
    <!-- Header Start -->
    <div class="header home">
      <div class="container-fluid">

        <div class="hero row align-items-center">
          <div class="col-md-12">
            <h2>Best & Trusted <span>Cleaning</span> Services</h2>
            <h2></h2>
            <p><strong> A water flow alert alarm will be provided free of cost when the water tank is cleaned.</strong>
            </p>
            <a class="btn" href="contact.html">Contact us</a>
          </div>
          <!-- <div class="col-md-5">
            <div class="form">
              <h3>Get A Quote</h3>
              <form>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Your Name"
                />
                <input
                  class="form-control"
                  type="text"
                  placeholder="Mobile Number"
                />
                <div class="control-group">
                  <select class="custom-select">
                    <option selected>Choose a service</option>
                    <option value="1">House Cleaning</option>
                    <option value="2">Apartment Cleaning</option>
                    <option value="3">Water Tank Cleaning</option>
                    <option value="4">Other</option>
                  </select>
                </div>
                <textarea
                  class="form-control"
                  placeholder="Comment"
                ></textarea>
                <button class="btn btn-block">Get A Quote</button>
              </form>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="../../../assets/images/about.jpg" alt="Image" />
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="about-text">
              <h3><span>10</span> Years Experience</h3>
              <p>
                Our team is doing cleanliness work from last 10 years in entire NCR. 
                 We have made people aware about cleanliness to a great extent and it is
                  our goal to provide a clean life and clean water to people in the coming
                   future and for some time to come, our mission Jal Jeevan Swachhata Abhiyan
                    will be fully implemented in Delhi.
              </p>
              <p>Experience a spotless home with Servicelinkup's professional cleaning services in Delhi. Book online now and enjoy 50% off your first cleaning. Our experienced cleaners will ensure every nook and cranny is sparkling clean, giving you peace of mind and a pristine living space. Don't miss out on this limited-time offer!</p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="service">
      <div class="container">
        <div class="section-header">
          <p>Our Services</p>
          <h2>Provide Services in NCR</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="service-item">
              <img src="../../../assets/images/service-1.jpg" alt="Service" />
              <h3>Water Tank Cleaning</h3>
              <p>
                Cleanliness is not always easy, but if you have young children
                and pets, it should be at the top of your priority list.
              </p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-item">
              <img src="../../../assets/images/service-2.jpg" alt="Service" />
              <h3>Flour Cleaning</h3>
              <p>
                Floor tiles is a strategy involving floor and tile scrubbing
                with all the professional tools and equipments
              </p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-item">
              <img src="../../../assets/images/service-3.jpg" alt="Service" />
              <h3>Sewer Cleaning</h3>
              <p>
                With our cleaning service, you can properly care for and
                maintain the appearance and longevity of your carpets.
              </p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-item">
              <img src="../../../assets/images/service-4.jpg" alt="Service" />
              <h3>Toilet Cleaning</h3>
              <p>
                Professional bathroom and toilet cleaning services are always
                better than ordinary cleaning because it removes dirt
              </p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Feature Start -->
    <div class="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section-header left">
              <p>Why Choose Us</p>
              <h2>Expert Cleaners and World Class Services</h2>
            </div>
            <p>
              Our team is fully trained and takes full care of your
              cleanliness. We are different from other companies because we
              provide the best service for the least amount of money.
            </p>
            <a class="btn" href="">Learn More</a>
          </div>
          <div class="col-md-7">
            <div class="row align-items-center feature-item">
              <div class="col-5">
                <img src="../../../assets/images/feature-1.jpg" alt="Feature" />
              </div>
              <div class="col-7">
                <h3>Expert Cleaners</h3>
                <p>
                  Keeping in mind your time, our team aims to provide the best
                  service in the least possible time.
                </p>
              </div>
            </div>
            <div class="row align-items-center feature-item">
              <div class="col-5">
                <img src="../../../assets/images/feature-2.jpg" alt="Feature" />
              </div>
              <div class="col-7">
                <h3>Reasonable Prices</h3>
                <p>
                  Good service is provided to you by our expert team in your
                  less money.
                </p>
              </div>
            </div>
            <div class="row align-items-center feature-item">
              <div class="col-5">
                <img src="../../../assets/images/feature-3.jpeg" alt="Feature" />
              </div>
              <div class="col-7">
                <h3>Quick & Best Services</h3>
                <p>
                  Keeping in mind your time, our team aims to provide the best
                  service in the least possible time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="footer-contact">
              <h2>Get In Touch</h2>
              <p class="mb-0">
                <i class="fa fa-map-marker-alt"></i>D-1 C/1103 Sangam Vihar,
               <p class="ml-4 "> New Delhi 110062, India</p>
            
              <p>
                <i class="fa fa-phone-alt"></i>
                <a class="text-white" href="tel:+919897499476"
                  >+919897499476</a
                >
              </p>
              <p>
                <a class="text-white" href="mailto:info@servicelinkup.in"
                  ><i class="fa fa-envelope"></i>info@servicelinkup.in</a
                >
              </p>
              <div class="footer-social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-link">
              <h2>Useful Link</h2>
              <a href="about.html">About Us</a>
              <a href="">Our Story</a>
              <a href="service.html">Our Services</a>
              <a href="">Our Projects</a>
              <a href="contact.html">Contact Us</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-link">
              <h2>Useful Link</h2>
              <a href="">Our Clients</a>
              <a href="">Clients Review</a>
              <a href="">Ongoing Project</a>
              <a href="">Customer Support</a>
              <a href="">FAQs</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-form">
              <h2>Awareness Partner</h2>
              <span>
               
                   <a class="pso-link" href="http://www.problemsolverorganisation.com">Problemsolver organisation </a> is a leading technology resource for nonprofit professionals.
             
              </span>
              <input class="form-control" placeholder="Email here" />
              <button class="btn">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container footer-menu">
        <div class="f-menu">
          <a href="">Terms of use</a>
          <a href="">Privacy policy</a>
          <a href="">Cookies</a>
          <a href="">Help & FQAs</a>
          <a href="">Contact us</a>
        </div>
      </div>
      <div class="container copyright">
        <div class="row">
          <div class="col-md-6">
            <p>
              &copy; 2023 servicelinkup, All Right
              Reserved.
            </p>
          </div>
          <div class="col-md-6">
            <p>Designed By <a target="_blank" href="https://surajexpo.com">SurajExpo</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
